body {
  background-color: #eee;
}

/*.formWrap {
  margin: 250px;
}*/
container { width: 100% }

.bg-primary {
  /*background-image: url(http://i.giphy.com/LZ5Koaqxqw0VO.gif);
  background-position: center;
  background-size: cover;*/
  background-color: rgba(33, 126, 213, 0.5);
  width: 100%;
  padding-bottom: 10px;
}

.jumbotron {
  /*background-image: url(http://i.giphy.com/LZ5Koaqxqw0VO.gif);*/
  width: 100%;
  /*background-poistion: center;
  background-size: cover;*/
  background-color: rgba(33, 126, 213, 0.5);
}
/*.home-page {
    background: transparent url("../images/backgrounds/image-overlay.png") repeat 0 0;
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}*/

.parent {
  float: left;
  position: relative;
  height: 20%;
  margin: 0px;
  padding: 0px;

}

.bluebox {
  display: block;
  bottom: 0;
  background: rgba(12, 59, 180, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: white;
  background-image: url(https://media.giphy.com/media/LeMYcZHhOd1le/giphy.gif);
}

.tag-line {
  bottom: 0;
  diplay: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: 50%;
  margin-bottom: -25%;
  z-index: 1010
}

#nopad {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*background-image: url(https://media.giphy.com/media/LeMYcZHhOd1le/giphy.gif);*/
  background-size: cover;
}

#logo {
  font-family: 'Teko', sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  color: #15003B;
  margin-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.giphylogo {
  width: 150px;
}

/*.navbar {
  color: blue;
}*/

.pageTitle {
  /*font-family: 'Satisfy', cursive;*/
  color: #a1f694;
  font-size: 36px;
  text-align: center;
  margin: 60px auto -40px;
}

.prodContainer {
    margin: 100px auto;
    max-width: 60%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.inputForm {
  margin: 100px;
}

.inputForm .inputBox {
 margin: 50px auto;
}

.whole-login {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: releative;
    background: #eee;
}

.whole-login .login {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 400px;
    border: #eee solid 1px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background: #fff;
}

.whole-login .login input {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.whole-login .login button {
    width: 300px;
    color: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 6px;
    padding: 0;
}

.gtbtn {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    padding: 7px 20px!important;
    background-color: #2AABE2!important;
    text-align: center;
    color: #fff!important;
    margin: 0 auto;
    border: 1px solid #1B75BB;
}

.whole-login .login .facebook {
    background: #3B5998;
    height: 35px;
    margin-bottom: 20px;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
}

#gif-frame {
    /*position: fixed;*/
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.extra-margin {
  margin-top: 70px;
}
