<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="navbar-text col-md-3 pull-left">
        <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <b>Zach McKimmins</b>
      </div>
      <div class="fb-like col-md-4 pull-left" data-share="true" data-width="450" data-show-faces="true">
      </div>
      <div class="navbar-brand col-md-5 pull-right">
        <span class="pull-right"><img src="./img/PoweredBy_200px-Black_HorizLogo.png" class="img-responsive"></span>
      </div>
    </div>
  </div>
</footer>
