<div class="container extra-margin">
  <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <p>Search for a gif to get started</p>
          <form class="form-inline" role="search">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="search" placeholder="Giphy Search">
              <button class="btn btn-primary" ng-click="getGiphData()"> Submit </button>
            </div>
          </form>
        </div>
        Player 1: <button class="btn btn-default btn-sm" ng-click="player1Score"><i class="fa fa-chevron-up"></i></button> 2 points<br><br>
        Player 2: <button class="btn btn-default btn-sm" ng-click="player1Score"><i class="fa fa-chevron-up"></i></button> 3 points
      </div>
  </div>

  <div>
    <img ng-src="{{giphData}}" id="gif-frame">
  </div>

</div>
