<div class="container">
  <div class="jumbotron text-center">
    <h1>Giphtionary</h1>
    <p>Giphtionary is a multiplayer word gif game competition. It's like Pictionary. You pick a category and a gif with the goal of having other players guess your word and vice versa.</p>
    <a href="#" class="btn btn-primary">New Game</a>
    <a href="#" class="btn btn-success">High Schores</a>
  </div>
    <div class="col-md-4">
      <h2>Movies<h2><img src="https://media.giphy.com/media/c65HDqFZd4m9G/giphy.gif" class="center-block img-rounded img-responsive">
    </div>
    <div class="col-md-4">
      <h2>Music<h2><img src="https://media.giphy.com/media/7e0EvlBD7nxZu/giphy.gif" class="center-block img-rounded img-responsive">
    </div>
    <div class="col-md-4">
      <h2>Politics<h2><img src="https://media.giphy.com/media/jSB2l4zJ82Rvq/giphy.gif" class="center-block img-rounded img-responsive">
    </div>
</div>
